<div class="ui inverted segment">  
  <div class="ui fixed inverted large main menu">
    <div class="container">
      <a class="item brand" href="{{site.baseurl}}">
        <img src="{{ site.baseurl }}static/img/dota2_logo.png" alt="Dota2VN Comic" />
      </a>
      <div class="item">
        ▶ {{ page.title }}
      </div>
  
      <div class="right menu">
          <div class="item">
            <div class='fb-like navbar-right' data-colorscheme='dark' data-href='http://www.facebook.com/dota2vietnam' data-send='false' data-show-faces='false' data-width='322'></div>
          </div>
          <div class="item">
            <div class="ui icon input transparent inverted">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>