body {
    background: #1b1c1d;
}
.ui.inverted.menu {
    background-color: rgba(0,0,0,0.8);
}

.main-wrapper img {
    max-width: 100%;
}

.brand {
    padding: 0 5px !important;
}

.read-comic {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 15px solid #fff;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 !important;
    -webkit-box-shadow: 0px 0px 90px 0px rgba(161,32,32,1);
    -moz-box-shadow: 0px 0px 90px 0px rgba(161,32,32,1);
    box-shadow: 0px 0px 90px 0px rgba(161,32,32,1);
}
.read-comic ul {
    position: absolute;
    list-style: none;
}
.read-comic ul, .read-comic ul li, .read-comic ul img {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.read-comic li {
    display: block;
}
.read-comic img {
    vertical-align: top;
}

.ninja {
    display: none;
}
.clearfix {
    overflow: auto;
}